In [11]:
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",password="root",database="pythondb")
cur=conn.cursor()
cur.execute("create table Student(rollno int not null primary key, Name varchar(30) not null, Branch varchar(30) not null, city varchar(20) not null)")
conn.close()

In [13]:
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",password="root",database="pythondb")
cur=conn.cursor()
q="insert into Student(rollno,Name,Branch,city)values(%s,%s,%s,%s)"
v=(101,"chenna","CSE","Hyd")
try:
    cur.execute(q,v)
    conn.commit()
except:
    conn.rollback()

conn.close()

In [14]:
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",password="root",database="pythondb")
cur=conn.cursor()
q="insert into Student(rollno,Name,Branch,city)values(%s,%s,%s,%s)"
v=[(102,"Raju","CSE","BLR"),(103,"Reddy","MBA","Hyd"),(104,"Bhargava","CSE","KOL"),(105,"Laddu","CSE","MUM")]
try:
    cur.executemany(q,v)
    conn.commit()
except:
    conn.rollback()
print(cur.rowcount,"Rows inserted")
conn.close()

4 Rows inserted

In [15]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\chenna.kreddy\anaconda3\lib\site-packages (8.0.32)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\chenna.kreddy\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)